header {
    margin: 1em 1em 0 1em;
    padding: 0.5rem 1rem;
	background-color: #ddbc7e;
	border-radius: 10px;
}

header nav ul {
	list-style: none;
	text-align: center;
	color: black;
}

header nav ul li {
	display: inline-block;
	margin: 0 1em 0 1em;
	font-size: 125%;
	text-transform: uppercase;
}

footer {
    margin: 0 1em 1em 1em;
    padding: 0.5rem 1rem;
	background-color: #ddbc7e;
	border-radius: 10px;
}

main {
	overflow: auto;
}

body {
	background-color: white;
	color: black;
	font-family: cambria;
	font-size: 125%;
}

h1 {
	color: black;
	font-family: arial;
	font-size: 200%;
	text-align: center;
}

h2 {
	color: green;
	font-family: verdana;
	font-size: 150%;
	text-align: left;
}

p {
	color: black;
	font-family: calibri;
	font-size: 100%;
	text-align: center;
}

a {
	color: black;
	font-weight: 700;
}

#section1 {
	margin: 30px;
	background-color: #ddbc7e;
	padding: 5px;	
	border-radius: 10px;
	position: static;
}

.row {
	margin: 0;
}

#headshot {
	border-radius: 10px;
}

.profile {
	max-width: 500px;
	min-width: 100px;
	margin: 1em 0em 1em 2em;
}

.headshot-text {
	margin: 1em 2em 1em 0;
	text-align: right;
}
#images {
	float: top;
	width: 35%;
}

.image-grid {
	width: 90%;
	margin: auto;
}

.image-grid .image-container {
	margin-bottom: 30px;
}

.social-icons {
	text-align: right;
}

label {
	display: block;
	font-weight: 700;
	margin-bottom: .5em;
}

.form-input {
	border: 2px solid;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	padding: 1em;
	margin-bottom: 1.5em;
	width: 100%;
}

.form-input:focus {
	outline: none;
	border: 2px solid #ddbc7e;
}

[type="submit"] {
	background: #ddbc7e;
	color: black;
	width: 100%;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 4px;
	border: 0;
	padding: .5em;
	cursor: pointer;
}

[type="submit"]:hover,
[type="submit"]:focus {
	background: #daa646;
}

textarea {
	height: 150px;
	resize: vertical;
}

.error {
	border-color: red;
}

.error-message {
	color: red;
	margin: -1em 0 1.5em;
}

form {
	width: 50%;
	margin: 3em auto;
}